// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary: #0e789b;
$secondary: #ffa80d;
$accent: #00ff08;

$dark: #242931;
$dark-2: #606a74;
$light: #eeeeee;

$positive: #21BA45;
$negative: #C10015;
$info: #31CCEC;
$warning: #ffa826;

$temperature-gradient: linear-gradient(0deg, blue, green, yellow, red);
$humidity-gradient: linear-gradient(0deg, #eeebeb, #0065fc 20%);
$drawer-gradient: linear-gradient(180deg, #010b2b 10%, #20586e 50%, #313b45 90%);

